* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background: #ffffff;
  color: #333333;
}

/* ===== HERO ===== */

.hero {
  position: relative;
  height: 900px;
  background: url("../images/ph1.png") center/cover no-repeat;
}

/* затемнение */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.5);
}

/* Заголовок */
.hero-title {
  position: absolute;
  right: 100px;
  bottom: 60px;
  font-size: 56px;
  z-index: 2;
}

/* Подзаголовок */
.hero-subtitle {
  position: absolute;
  right: 100px;
  bottom: 130px;
  font-size: 18px;
  z-index: 2;
}

/* Кнопка */
.hero-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  background: white;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  z-index: 2;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #333;
  color: white;
}

/* ===== PORTFOLIO ===== */

.portfolio {
  width: 900px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

.portfolio-item {
  width: 227px;
  height: 119px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.portfolio-item:nth-child(1) {
  background-image: url("../images/ph4.png");
}

.portfolio-item:nth-child(2) {
  background-image: url("../images/ph5.png");
}

.portfolio-item:nth-child(3) {
  background-image: url("../images/ph6.png");
}
